/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4ede8; /* Colore della carta vecchia */
    color: #444; /* Colore del testo */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #d8c3a5; /* Colore di sfondo della testata */
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.navbar {
    background-color: #555; /* Colore di sfondo della barra di navigazione */
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #d8c3a5; /* Colore di sfondo del piè di pagina */
}
